numpy==1.26.4
pandas==2.2.2
pydantic-settings==2.11.0
matplotlib==3.10.6
langchain==1.0.2
langchain-core==1.0.0
langchain-community==0.4
langchain-openai==1.0.1
langchain-ollama==1.0.0
langchain-mcp-adapters==0.1.11
langgraph==1.0.1
langgraph_checkpoint_sqlite==3.0.0
gradio==5.46.1
fastapi==0.115.12
gunicorn==22.0.0
markdown-pdf==1.4
duckduckgo_search==7.4.5
psycopg2-binary==2.9.10
mysql-connector-python==9.4.0
